:root {
    --header-font: arial black, sans-serif;
    --anchor-font: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    --section-background: rgb(163, 161, 161);
}

header {
    padding: 20px;
    background-color: rgb(163, 161, 161);
    color: black;
    font-family: var(--header-font);
    display: flex;
    justify-content: space-between;
    font-size: 125%;
    border-radius: 10px;
}

h1 {
   /* display: flex;
    justify-content: center; */
    font-family: var(--header-font);
}

